body{
    background: url("../img/cielo.jpg");
    background-attachment: fixed;
}

#logo{
    background-color: #1787c4;
}

#menu ul li:hover{
    background: #1787c4;
}

.button-more{
    background: #1787c4;
}
form input[type="submit"]{
    background: #1787c4;
}