body {
    background: url("../img/rojo.jpg");
    background-attachment: fixed;
    transition: 400ms;
}

#logo {
    background-color: #ca3413;
    transition: 400ms;
}

#menu ul li:hover {
    background: #ca3413;
    transition: 400ms;
}

.button-more {
    background: #ca3413;
    transition: 400ms;
}

form input[type="submit"] {
    background: #ca3413;
    transition: 400ms;
}